@{
    ViewData["Title"] = "Privacy Policy";
}
<div id="#myDiv" class="container-fluid" style="padding-left: 300px;">
    <h1 class="mt-4">Sample Heading</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>



