@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model CreateContact

@{
    ViewData["Title"] = "CreateContactForm";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @{
                Html.RenderPartial("NavMenu");
            }
        </div>
        <div class="col-md-9">
            <div class="container-fluid">
                <h2>New Contact</h2>
                <div class="row">
                    <div class="">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="col-md-12" s type="text" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="col-md-12" s type="text" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input class="col-md-12" s type="text" placeholder="Address ">
                        </div>
                        <div class="form-group">
                            <label>Email ID</label>
                            <input class="col-md-12" s type="text" placeholder="Email ID">
                        </div>
                        <div class="form-group">
                            <label>Contact No.</label>
                            <input class="col-md-12" s type="text" placeholder="Contact No.">
                        </div>
                        <div class="form-group">
                            <label>Company</label>
                            <input class="col-md-12" s type="text" placeholder="Company">
                        </div>
                        <div style="padding-top: 20px;">
                            <button class="btn btn-primary" style="">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>