@*<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    </div>
*@




@*
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#"> LINK</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"> LINK</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"> LINK</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"> LINK</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"> LINK</a>
    </li>
</ul>

*@





@*<div class="vertical-menu">
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
    </div>*@



@*


    <div id="wrapper">
         Sidebar
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav" style="text-align: right; padding-right: 10px;
                    padding-top: 10px">
                <li class="sidebar-brand">
                    <a id="menu-toggle" href="#">
                        <span id="main_icon" class="navbar-icon fa fa-bars icon">
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#">Start Bootstrap </a></li>
                <li><a href="#">Home</a> </li>
                <li><a href="#">About</a> </li>
                <li><a href="#">Contact</a> </li>
            </ul>
        </div>

         /#page-content-wrapper
    </div>*@

